#############################################################################
##  # a comment - this is ignored
##  *.a       # no .a files
##  !lib.a    # but do track lib.a, even though you're ignoring .a files above
##  /TODO     # only ignore the root TODO file, not subdir/TODO
##  build/    # ignore all files in the build/ directory
##  doc/*.txt # ignore doc/notes.txt, but not doc/server/arch.txt
#############################################################################

*.aux 
*.bbl 
*.blg 
*.dvi 
*.log 
*.ps 
*.lof 
*.lot 
*.gz 
*.toc 
*.pdf 
*.out
.DS_Store
sagun_khatri.aux
sagun_khatri.log
sagun_khatri.pdf
sagun_khatri.dvi
